@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

.jumbotron {
       font-size: 20px;
       padding: 60px;
       background-color: #00c8eb;
       text-align: center;
       color: white;
    }

nav li {
       display: inline;
       list-style-type: none;
       margin-right: 20px;
    }
nav {
       background-color: #00a2c6;
       padding: 5px;
       top: 0;
    }

nav a {
       font-size: 18px;
       font-weight: 400;
       text-decoration: none;
       color: white;
}
nav a:hover {              /* tebal saat diarahkan */
       font-weight: bold;
    }

.profile header {
       text-align: center;
    }

.profile img {
       width: 200px;
    }



.card {                                              /* membuat bayangan box */
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
       border-radius: 10px;
       padding: 20px;
       margin-top: 20px;
    }




body {
       font-family: 'Quicksand',sans-serif;
       margin: 0;
       padding: 0;
}
main {
       padding: 20px;
	overflow: auto;
    }


h2 {
       color: #00a2c6
   }
    
 
h3 {
       color: #00a2c6
   }


footer {                                      /* mengatur footer */
        padding: 20px;
        color: white;
        background-color: #00a2c6;
	text-align: center;
        font-weight: bold;
}

#content { 			            /* floating */
       float: left;
       width: 70%;
         }

aside { /* mengatur aside */
       float: right;
       width: 30%;
	padding-left: 20px;
         }

* {					/* mengatur kotak box keseluruhan */
       box-sizing: border-box;
    }

@media screen and (max-width: 1000px) {      /* diterapkan pada device yang memiliki ukuran viewport di bawah 1000px */
       #content,
       aside {
           width: 100%;
           padding: 0;
       }
    }

header {
       display: inline;  /* agar navigasi menempel pada seluruh halaman */
    }